<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
        <nav>
            <div class="nav-wrapper teal lighten-7">
                <a href="#" class="brand-logo">AI-Pointment Confirmation</a>
                <ul id="nav-mobile" class="right hide-on-med-and-down">
                    <li><a href="userprof.html">User Profile</a></li>
                    <li><a href="landingpage.html">Chatbot</a></li>
                </ul>
            </div>
        </nav>

          <!-- Render the sub layout -->
      {{{ body }}}
    
</body>
</html>