<!-- Appointment Confirmation Information Div -->
    <div class="container">
      <div class="card-panel teal lighten-8 grid-example col s12"> 
        <h5>Your AI-Pointment has been scheduled successfully!</h5>
        <h7><b>AI-Pointment Confirmation #:</b> 349803745698</h7>
        <br>
        <h7><b>Your Oil change has been successfully scheduled for 3:00pm on 8/12/2021 for your 2009 Honda Civic.
      </h7></b>
      </div> 
      </div>