{{!-- <h1>Homepage</h1> --}}

<!-- Chatbot Chatbox -->
<div class="container"> 
  <div id="message-box" class="card-panel teal lighten-7 grid-example col s12">
    <div id="welcome-message" class="card-panel teal lighten-5 grid-example col s12 center">
      <strong>Thank you for choosing AI-Pointment's scheduling system!</strong> Please send us a message when you're ready to begin.
    </div>
  </div>
</div>
<!-- Text area to type in messages to chatbot -->
<div class="container"> 
  <div class="row">
    <form class="col s12">
      <div class="row">
        <div class="input-field col s12">
            <i class="material-icons prefix">mode_edit</i>
            <input placeholder="Message" class="materialize-textarea" id="message" type="text">
            <button class="btn waves-effect waves-light right" id="sub">
              Submit 
              <i class="material-icons right">send</i>
            </button>
          </div>
        </div>
      </div>
    </form>
  </div> 
  <div class="row">
    <div class="col s12">
      <form>
        <div class="input-field col s12">
          <input placeholder="Date" class="materialize-textarea" id="dateSlot" type="date">
          <label>Pick a Date</label>
        </div>
        <div class="input-field col s12">
          <select id="selectTime">
            <option value="" disabled selected>Choose your Time</option>
          </select>
          <label>Select Time</label>
        </div>
        <div class="input-field col s12">
          <input placeholder="Car Make/Model/Year" class="materialize-textarea" id="carMake" type="text">
          <label>Car Year/Make/Model</label>
        </div>
        <div class="input-field col s12">
          <select id="selectService">
            <option value="" disabled selected>Choose your Service</option>
          </select>
          <label>Select Service</label>
        </div>

        <input placeholder="Car Make/Model/Year" class="materialize-textarea" id="userID" type="hidden">
        <button class="btn waves-effect waves-light right" id="submit-appointment">
              Submit 
              <i class="material-icons right">send</i>
            </button>
      </form>
    </div>
  </div>
</div>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"
    integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>

<!-- Compiled and minified JavaScript -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>

<script src="/js/messageTest.js"></script>