<main class="background">
    <div class="auth-box white">
        <h1 class="center">Log In</h1>
        <div class="row login-fields">
            <form class="col s12">
                <div class="input-field col s12">
                    <input id="email" type="email" class="validate">
                    <label for="email">Email</label>
                </div>
                <div class="input-field col s12">
                    <input id="password" type="password" class="validate">
                    <label for="password">Password</label>
                </div>
                <div class="input-field col s12 center">
                    <button class="btn-large transparent msg-button" id="login">Log In</button>
                </div>
            </form>
        </div>
    </div>
</main>

<script src="../js/login.js"></script>