<main class="background">
    <div class="message-box">
        <div class="top-box">
            <h1 class="chat-heading">Chatbot</h1>
        </div>
        <div class="middle-box">
            <div class="chat-bot-msg">
                <i class="material-icons face">face</i>
                <p class="text-response">Hello! How are you today?</p>
            </div>
            <div class="cust-msg">
                <p class="text-response-cust">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Dolorem numquam
                    vero
                    maxime dolor ad nobis voluptatem! Maxime reprehenderit sed odio commodi, ut vel, corporis, dolores
                    molestias vero autem veritatis repudiandae?</p>
                <i class="material-icons face">account_circle</i>
            </div>
            <div class="chat-bot-msg">
                <i class="material-icons face">face</i>
                <p class="text-response">Ah but of course!</p>
            </div>
            <div class="cust-msg">
                <p class="text-response-cust">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Dolorem numquam
                    vero
                    maxime dolor ad nobis voluptatem! Maxime reprehenderit sed odio commodi, ut vel, corporis, dolores
                    molestias vero autem veritatis repudiandae?</p>
                <i class="material-icons face">account_circle</i>
            </div>
            <div class="chat-bot-msg">
                <i class="material-icons face">face</i>
                <p class="text-response">Ah but of course!</p>
            </div>
        </div>
        <div class="bottom-box">
            <textarea id="textarea1" class="writing-box" placeholder="Type something here..."></textarea>
            <button class="transparent msg-button btn  white-text">Send</button>
        </div>
</main>

<script src="/js/messageTest.js"></script>