<main class="background">
    <div class="message-box">
        <div class="top-box">
            <h1 class="chat-heading">Chatbot</h1>
        </div>
        <div class="middle-box" id="middle-box">
            <div class="chat-bot-msg">
                <i class="material-icons face">face</i>
                <p class="text-response">Hello! How can I help you today?</p>
            </div>

        </div>
        <div class="bottom-box">
            <textarea id="message" class="writing-box" placeholder="Type something here..."></textarea>
            <button class="transparent msg-button btn  white-text" id="sub">Send</button>
        </div>
</main>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"
    integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
<script src="/js/messageTest.js"></script>