<main class="">
    <div class="container">
        <div class="row full-page">
            <div class="col s3 profile white">
                <div class="profile-photo">
                    <i class="large material-icons face">account_circle</i>
                </div>
                <div class="info col s12">
                    <div class="row info-block">
                        <h1 class="info-heading">User Info</h1>
                        <form class="col s12">
                            <div class="row">
                                <div class="input-field col s6">
                                    <input id="first_name" type="text">
                                    <label class="black-text" for="first_name">First Name</label>
                                </div>
                                <div class="input-field col s6">
                                    <input id="last_name" type="text">
                                    <label class="black-text" for="last_name">Last Name</label>
                                </div>
                            </div>
                            <div class="row">
                                <div class="input-field col s12">
                                    <input id="phone" type="tel">
                                    <label class="black-text" for="phone">Phone</label>
                                </div>
                            </div>
                            <div class="row">
                                <div class="input-field col s12">
                                    <input id="address" type="text">
                                    <label class="black-text" for="address">Address</label>
                                </div>
                            </div>
                            <button class="transparent msg-button btn  white-text right" id="update">Update</button>
                        </form>
                    </div>
                    <div class="row info-block">
                        <h1 class="info-heading">Car Info</h1>
                        <form class="col s12">
                            <div class="row">
                                <div class="input-field col s12">
                                    <input id="make" type="text">
                                    <label class="black-text" for="first_name">Make</label>
                                </div>
                            </div>
                            <div class="row">
                                <div class="input-field col s12">
                                    <input id="model" type="text">
                                    <label class="black-text" for="last_name">Model</label>
                                </div>
                            </div>
                            <div class="row">
                                <div class="input-field col s12">
                                    <input id="year" type="text">
                                    <label class="black-text" for="phone">Year</label>
                                </div>
                            </div>
                            <button class="transparent msg-button btn  white-text right"
                                id="#update-car">Update</button>
                        </form>
                    </div>
                </div>
            </div>
            <div class="col s9 appointments">
                <div class="appointment-slot">
                    <h2 class="apt-date">Monday, December 21, 2021</h2>
                    <h3 class="apt-time">3pm-4pm</h3>
                    <h4 class="apt-service">Oil change</h4>
                </div>
            </div>
        </div>
    </div>
</main>

<script src="../js/updateUserInfo.js"></script>