<!DOCTYPE html>
<html>

<head>
    <!--Import Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!--Import materialize.css-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link rel="stylesheet" type="text/css" href="./css/style.css" />
    <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
</head>

<body>
    
    <div class="container">
        <div class="card-panel teal lighten-7 grid-example">
            <div class="row">
                <form class="col s12 login-form" method="POST" action="/api/v1/auth/login/">
                    <div class="row">
                        <h4>Log In</h4>
                        <!-- -Text Area to Input Existing User Email -->
                        <div class="input-field col s6">
                            <i class="material-icons prefix">mail_outline</i>
                            <input id="email-login" type="text" class="validate" placeholder="Email" />
                        </div>
                        <!-- -Text Area to Input Existing User Password -->
                        <div class="input-field col s6">
                            <i class="material-icons prefix">check_circle_outline</i>
                            <input id="password-login" type="text" class="validate" placeholder="Password" />
                        </div>
                    </div>
                </form>
            </div>
            <!-- Send button -->
            <button class="btn waves-effect waves-light login-form" type="submit" name="action">Submit
                <i class="material-icons right ">send</i>
            </button>
        </div>
        <div class="card-panel teal lighten-7 grid-example" style="margin-top: 2em;" >
            <div class="row">
                <form class="col s12 signup-form" method="POST" action="/api/v1/auth/signup/">
                    <div class="row">
                        <h4>Sign Up</h4>
                        <!--Text Area to Input New User First name -->
                        <div class="input-field col s6">
                            <i class="material-icons prefix">account_circle</i>
                            <input id="first-name-signup" type="text" class="validate" placeholder="First Name" />
                        </div>
                        <!---Text Area to Input New User Last name -->
                        <div class="input-field col s6">
                            <i class="material-icons prefix">account_circle</i>
                            <input id="last-name-signup" type="text" class="validate" placeholder="Last Name" />
                        </div>
                        <!-- -Text Area to Input New User Email -->
                        <div class="input-field col s6">
                            <i class="material-icons prefix">mail_outline</i>
                            <input id="email-signup" type="text" class="validate" placeholder="Email" />
                        </div>
                        <!-- -Text Area to Input New User Password-->
                        <div class="input-field col s6">
                            <i class="material-icons prefix">check_circle_outline</i>
                            <input id="password-signup" type="text" class="validate" placeholder="Password" />
                        </div>
                    </div>
                                <!-- Send button -->
                                <button class="btn waves-effect waves-light signup-form" type="submit" name="action">Submit
                                    <i class="material-icons right">send</i>
                                </button>
                </form>
            </div>

        </div>
    </div>
</body>

</html>