  
    <div class="container">

        <div class="card-panel teal lighten-7 grid-example" style="margin-top: 2em;" >
            <div class="row">
                <form class="col s12 signup-form">
                    <div class="row">
                        <h4>Sign Up</h4>
                        <!--Text Area to Input New User First name -->
                        <div class="input-field col s6">
                            <i class="material-icons prefix">account_circle</i>
                            <input id="first-name-signup" type="text" class="validate" placeholder="First Name" />
                        </div>
                        <!---Text Area to Input New User Last name -->
                        <div class="input-field col s6">
                            <i class="material-icons prefix">account_circle</i>
                            <input id="last-name-signup" type="text" class="validate" placeholder="Last Name" />
                        </div>
                        <!-- -Text Area to Input New User Email -->
                        <div class="input-field col s6">
                            <i class="material-icons prefix">mail_outline</i>
                            <input id="email-signup" type="text" class="validate" placeholder="Email" />
                        </div>
                        <!-- -Text Area to Input New User Password-->
                        <div class="input-field col s6">
                            <i class="material-icons prefix">check_circle_outline</i>
                            <input id="password-signup" type="text" class="validate" placeholder="Password" />
                        </div>
                    </div>
                                <!-- Send button -->
                                <button class="btn waves-effect waves-light signup-form" type="submit" name="action">Submit
                                    <i class="material-icons right">send</i>
                                </button>
                </form>
            </div>

        </div>
    </div>

    <script src="../js/signup.js"></script>
